<div id="leftSideCss">
    <div id="treeView">
        <div dx-button="createNewrecordToCard"></div>
        <div dx-button="backToGeneralPage"></div>
        <div dx-tree-view="treeviewOfChaptersWithData"></div>
        <div dx-button="showEditWindowForTreeviewItem"></div>
        <div dx-button="showDeleteWidowForTreeviewItem"></div>
    </div>
    <div>
        <div class="popup" dx-popup="addNewRecordToCard">
            <label>Дата</label>
            <div id="selected-date" dx-date-box="dateForNewRecord"></div>
            <label>Раздел</label>
            <div dx-select-box="chapterOfRecord" ng-model="recordChapter"></div>
            <label>Поле Для Заполнения</label>
            <div dx-text-box="captionOfRecord" ng-model="recordCaption"></div>
            <label>Описание</label>
            <div dx-text-box="descriptionOfRecord" ng-model="recordDescription"></div>
            <br />
            <div dx-button="saveRecord"></div>
        </div>
    </div>
</div>
<div id="rightSideCss">
    <div align="right">
        <div dx-button="createReportButton"></div>
        <div dx-button="deleteCard"></div>
    </div>
    <div id="grid-container" dx-data-grid="dataGridInTreeView"></div>
</div>
<!--Popup for Edit-->
<div class="popup" dx-popup="editItemFromTreeview">
    <label>Поле Для Заполнения</label>
    <div dx-text-box="captionOfRecordtoEdit" ng-model="recordCaptionEdit"></div>
    <label>Описание</label>
    <div dx-text-box="descriptionOfRecordtoEdit" ng-model="recordDescriptionEdit"></div>
    <br />

    <div dx-button="confirmEditItemFromTreeview"></div>
    <div dx-button="cancelFromEditItemFromTreeview"></div>
</div>
<!--Popup for delete-->
<div class="popup" dx-popup="deleteItemFromTreeview">
    <div dx-button="confirmDeleteRecordFromTreeview"></div>
    <div dx-button="cancelFromDeleterecordFromTreeview"></div>
</div>
<!--Popup delete card-->
<div class="popup" dx-popup="deleteCardPopupWindow">
    <div dx-button="confirmDeleteCardFromStorage"></div>
    <div dx-button="cancelFromDeletingCardFromStorage"></div>
</div>
<!--Popup for report-->
<div class="popup" dx-popup="createReportPage">
    <div dx-button="refreshDataForReport"></div>
    <div id="grid-conteiner" dx-data-grid="dataGridOfAllRecordsOfCardAtPopup"></div>
    
</div>
